## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(0,100), k=80)
print(sample_list_1)

[23, 39, 22, 15, 52, 68, 88, 64, 31, 85, 65, 20, 95, 36, 79, 54, 84, 4, 86, 11, 53, 87, 9, 10, 82, 2, 35, 98, 60, 51, 34, 62, 46, 8, 44, 69, 49, 17, 99, 56, 78, 12, 74, 3, 92, 13, 75, 70, 63, 41, 67, 47, 83, 93, 50, 61, 91, 27, 0, 94, 96, 73, 24, 77, 90, 42, 7, 58, 72, 57, 97, 45, 55, 1, 40, 76, 89, 14, 43, 26]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(int(random.random()*100))
print('sample list 2 elements: ', len(sample_list_2))
print(sample_list_2)

sample list 2 elements:  80
[22, 24, 50, 51, 66, 38, 62, 70, 70, 99, 98, 30, 13, 2, 11, 59, 87, 29, 27, 28, 32, 38, 67, 9, 37, 94, 6, 28, 10, 86, 1, 52, 47, 30, 35, 76, 93, 4, 51, 31, 67, 28, 46, 98, 6, 63, 13, 92, 91, 62, 44, 2, 25, 54, 82, 13, 44, 32, 59, 85, 67, 18, 68, 55, 34, 51, 46, 30, 60, 74, 19, 82, 84, 41, 60, 41, 23, 22, 52, 9]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set2 = set(sample_list_2)
print('sample set 2 elements: ', len(set2))
print(set2)

sample set 2 elements:  54
{1, 2, 4, 6, 9, 10, 11, 13, 18, 19, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 34, 35, 37, 38, 41, 44, 46, 47, 50, 51, 52, 54, 55, 59, 60, 62, 63, 66, 67, 68, 70, 74, 76, 82, 84, 85, 86, 87, 91, 92, 93, 94, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [18]:
# Your code here
set3 = set1-set2

print(set3)

{0, 3, 7, 8, 12, 14, 15, 17, 20, 26, 36, 39, 40, 42, 43, 45, 49, 53, 56, 57, 58, 61, 64, 65, 69, 72, 73, 75, 77, 78, 79, 83, 88, 89, 90, 95, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
# Your code here
set4 = set2-set1


print(set4)

{32, 66, 37, 6, 38, 18, 19, 25, 59, 28, 29, 30}
{32, 66, 37, 6, 38, 18, 19, 25, 59, 28, 29, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [14]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 2, 4, 9, 10, 11, 13, 22, 23, 24, 27, 31, 34, 35, 41, 44, 46, 47, 50, 51, 52, 54, 55, 60, 62, 63, 67, 68, 70, 74, 76, 82, 84, 85, 86, 87, 91, 92, 93, 94, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [19]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
54
38
12
42

#### Create an empty set called `set6`.

In [31]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [32]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 20, 22, 23, 24, 26, 27, 31, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [33]:
# Your code here
if set6 == set1 : print('son iguales ')

son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [37]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [42]:
# Your code here
unionset_1 = set3.union(set4, set5)
unionset_2 = unionset_1.union(set1, set2)
print(unionset_2)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [44]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [53]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_new = []
lenght = len(list_to_remove)
for number in list_to_remove :
    if number in set1 : 
        list_new.append(number)
list_new = set(list_new)  
set1 = set1 - list_new
print(list_new)
print(set1)

{1, 99, 69, 39, 9, 41, 11, 79, 49, 51, 89, 91, 61, 31}
{2, 3, 4, 7, 8, 10, 12, 13, 14, 15, 17, 20, 22, 23, 24, 26, 27, 34, 35, 36, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}