## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1=random.sample(range(100),k=80)
print( sample_list_1)

[40, 45, 9, 33, 52, 46, 74, 27, 51, 91, 13, 19, 32, 83, 67, 78, 96, 24, 17, 53, 99, 90, 98, 23, 68, 93, 92, 94, 15, 89, 1, 86, 60, 14, 39, 29, 41, 2, 20, 75, 50, 59, 84, 76, 58, 81, 66, 5, 3, 57, 25, 30, 35, 28, 87, 97, 69, 95, 73, 77, 47, 72, 70, 62, 0, 61, 21, 88, 48, 65, 26, 44, 16, 11, 49, 4, 38, 7, 42, 31]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
for i in range (80):
    sample_list_2= random.choices(range(100), k=i)
print(sample_list_2)

[42, 40, 35, 74, 23, 47, 73, 64, 35, 61, 91, 84, 20, 13, 94, 7, 49, 5, 37, 89, 4, 17, 4, 64, 59, 18, 21, 3, 11, 62, 95, 96, 99, 11, 56, 89, 53, 32, 8, 51, 59, 30, 11, 45, 84, 69, 99, 95, 37, 55, 48, 3, 38, 12, 94, 40, 20, 94, 64, 32, 24, 6, 55, 72, 40, 47, 24, 64, 17, 62, 73, 36, 13, 70, 47, 71, 71, 39, 8]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2=set(sample_list_2)
print(len(set2))

49

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3={0}
for i in set1: #compara elementos de una lista con un set
    if i in set2:
        x=0
    else:
        set3.add(i)
print(set3)

{0, 1, 2, 9, 14, 15, 16, 19, 25, 26, 27, 28, 29, 31, 33, 41, 44, 46, 50, 52, 57, 58, 60, 65, 66, 67, 68, 75, 76, 77, 78, 81, 83, 86, 87, 88, 90, 92, 93, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4={0}
for i in set2: #compara elementos de una lista con un set
    if i in set1:
        x=0
    else:
        set4.add(i)
print(set4)

{0, 64, 36, 37, 6, 71, 8, 12, 18, 55, 56}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5={0}
for i in set1:
    if i in set2:
        set5.add(i)
print(set5)

{0, 3, 4, 5, 7, 11, 13, 17, 20, 21, 23, 24, 30, 32, 35, 38, 39, 40, 42, 45, 47, 48, 49, 51, 53, 59, 61, 62, 69, 70, 72, 73, 74, 84, 89, 91, 94, 95, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:

longitudes=[len(set1),len(set2),len(set3),len(set4),len(set5)]
set_longitud=[('set1',len(set1)),('set2',len(set2)),('set3',len(set3)), ('set4',len(set4)),('set5',len(set5))]
set_longitud.sort(key= lambda x: x[1]) #recibe la tupla y devuelve la longitud del set
print(set_longitud)
for l in set_longitud:
    print(l[0],'<')

[('set4', 11), ('set5', 40), ('set3', 41), ('set2', 49), ('set1', 80)]
set4 <
set5 <
set3 <
set2 <
set1 <

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6={}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set3.update(set5)
set6=set3

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
if set6==set1:
    print('True')
else:
    print('False')

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
set1.issubset(set2)

False

In [15]:
set1.issubset(set3)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [16]:
# Your code here
set_3_4=set3.union(set4)
set_3_4_5=set_3_4.union(set5)
set_3_4_5_1=set_3_4_5.union(set1)
set_3_4_5_1_2=set_3_4_5_1.union(set2)

#### Using the `pop` method, remove the first element from `set1`.

In [17]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_remaining= set1.difference(list_to_remove)
print(set_remaining)

{2, 3, 4, 5, 7, 13, 14, 15, 16, 17, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 53, 57, 58, 60, 62, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}