## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [33]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [34]:
# Your code here
sample_list_1 = random.sample(range(0, 100), k = 80)

print(sample_list_1)

[9, 72, 59, 75, 57, 19, 47, 33, 69, 78, 89, 83, 61, 80, 12, 70, 41, 48, 29, 95, 40, 51, 77, 87, 16, 96, 94, 66, 10, 73, 44, 23, 22, 53, 15, 8, 43, 32, 58, 7, 79, 85, 38, 50, 82, 30, 18, 3, 52, 90, 39, 56, 45, 26, 5, 35, 65, 99, 42, 20, 63, 54, 27, 68, 49, 13, 17, 46, 60, 28, 98, 0, 84, 21, 11, 31, 36, 2, 74, 76]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [35]:
# Your code here
set1 = set(sample_list_1)

print(set1)
print('\nLa longitud del Set1 es', len(set1))

#Tenemos la misma cantidad de valores porque la funcion random.sample nos da valores no repetidos dentro del rango
#seleccionado

{0, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 63, 65, 66, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 89, 90, 94, 95, 96, 98, 99}

La longitud del Set1 es 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [36]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(int(random.random() * 100))

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [37]:
# Your code here
set2 = set(sample_list_2)

print(set2)
print(len(set2))

# El set2 puede tener menos valores porque en al hacer la funcion random.random podemos obtener valores repetidos
# y en los sets no hay valores repetidos por lo que tenemos una longitud mas peque√±a a 80

{0, 1, 3, 5, 6, 9, 11, 13, 14, 15, 16, 17, 19, 21, 22, 23, 24, 26, 27, 28, 30, 32, 35, 41, 42, 43, 44, 46, 48, 52, 53, 54, 56, 61, 62, 64, 65, 66, 68, 71, 75, 78, 79, 81, 82, 84, 85, 87, 88, 90, 94, 95, 96, 98}
54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [38]:
# Your code here
set3 = set1 - set2 #Le quitamos al set1 los elementos del set2
print(set3)

{2, 7, 8, 10, 12, 18, 20, 29, 31, 33, 36, 38, 39, 40, 45, 47, 49, 50, 51, 57, 58, 59, 60, 63, 69, 70, 72, 73, 74, 76, 77, 80, 83, 89, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [39]:
# Your code here
set4 = set2 - set1
print(set4)

{64, 1, 6, 71, 14, 81, 24, 88, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [40]:
# Your code here
set5 = ()

set5 = set1.intersection(set2) #Buscamos los elementos que se encuentran en ambos conjuntos (la interseccion)
print(set5)

{0, 3, 5, 9, 11, 13, 15, 16, 17, 19, 21, 22, 23, 26, 27, 28, 30, 32, 35, 41, 42, 43, 44, 46, 48, 52, 53, 54, 56, 61, 65, 66, 68, 75, 78, 79, 82, 84, 85, 87, 90, 94, 95, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [41]:
# Your code here
# P(set1 U set2) = P(set1) + P(set2) - P(set5) = P(set4) + P(set5) + P(set3)

len(set1) + len(set2) - len(set5) == len(set4) + len(set3) + len(set5)

# Si visualizamos un Diagrama de Venn nos damos cuenta que la union del Set1 y Set2 tiene que ser igual a la union
# de los otros 3 sets que representan parte de los anteriores sets

True

#### Create an empty set called `set6`.

In [42]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [43]:
# Your code here
set6.update(set3, set5) #La funcion update nos coloca dentro del set6 los valores del set3 y set5
print(set6)

{0, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 63, 65, 66, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 89, 90, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [44]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [45]:
# Your code here
print('El set 2 es un subset de 1?', set2.issubset(set1))
print('El set 3 es un subset de 1?', set3.issubset(set1))

# La funcion .issubset nos indica si un conjunto de valores es un subconjunto de otro conjunto, es decir,
# si los valores de un conjunto estan contenidos en otro conjunto

El set 2 es un subset de 1? False
El set 3 es un subset de 1? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [46]:
# Your code here

Union = set3.union(set4, set5) 
Union = Union.union(set1, set2) # La funcion union nos une los sets

print(Union)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 94, 95, 96, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [47]:
# Your code here

set1.pop() # La funcion .pop nos permite eliminar el valor del index colocado. Si no ponemos nada elimina el primero
print(set1)

{2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 63, 65, 66, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 89, 90, 94, 95, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [48]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

NEW_set1 = set1 - set(list_to_remove)

print(NEW_set1)

{2, 3, 5, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 26, 27, 28, 30, 32, 33, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 63, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 87, 90, 94, 95, 96, 98}