## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = (random.sample(range(0,100), k=80))

In [4]:
print(sample_list_1)

[89, 13, 15, 49, 41, 79, 94, 77, 11, 63, 91, 43, 65, 66, 82, 35, 36, 5, 33, 81, 21, 12, 54, 16, 98, 46, 62, 3, 37, 78, 17, 29, 76, 68, 60, 90, 22, 59, 75, 0, 50, 67, 61, 47, 69, 74, 31, 32, 9, 55, 48, 85, 8, 23, 95, 57, 30, 4, 26, 58, 38, 92, 80, 28, 24, 84, 97, 70, 96, 83, 64, 34, 72, 25, 1, 44, 51, 20, 10, 86]

In [5]:
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# It is since sample_list_1 is of unique values, and set doesn't have repeated values
set1 = set(sample_list_1)

In [7]:
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here
sample_list_2 = []

for i in random.choices(range(0,100), k=80):
    sample_list_2.append(i)

In [9]:
print(sample_list_2)

[24, 7, 19, 91, 97, 57, 39, 56, 51, 28, 46, 37, 45, 86, 63, 75, 31, 53, 9, 30, 7, 58, 57, 11, 43, 54, 74, 57, 72, 9, 77, 27, 75, 7, 49, 5, 41, 98, 26, 51, 23, 95, 76, 65, 93, 64, 3, 47, 77, 84, 11, 14, 53, 64, 16, 85, 80, 12, 16, 60, 13, 70, 35, 85, 30, 91, 37, 70, 56, 44, 50, 66, 34, 45, 0, 7, 23, 16, 62, 26]

In [10]:
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [11]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [12]:
# Your code here
set3 = set1 - set2
print(set3)

{1, 4, 8, 10, 15, 17, 20, 21, 22, 25, 29, 32, 33, 36, 38, 48, 55, 59, 61, 67, 68, 69, 78, 79, 81, 82, 83, 89, 90, 92, 94, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
# Your code here
8 in set2

False

In [15]:
8 in set1

True

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [21]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 3, 5, 9, 11, 12, 13, 16, 23, 24, 26, 28, 30, 31, 34, 35, 37, 41, 43, 44, 46, 47, 49, 50, 51, 54, 57, 58, 60, 62, 63, 64, 65, 66, 70, 72, 74, 75, 76, 77, 80, 84, 85, 86, 91, 95, 97, 98}

In [17]:
39 in set1

False

In [18]:
39 in set2

True

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

From venn diagram it is know that:
* (set1) U (set2) = (set1) + (set2) - (set1 ∩ set2)
* (set3) U (set4) U (set5) = (set3) + (set4) + (set5)

In this case 
(set1 ∩ set2) was already calculate and store in the variable set5


(set1) U (set2) = (set1) + (set2) - (set5) == (set3) + (set4) + (set5)

In [22]:
len(set1) + len(set2) - len(set5) == len(set3) + len(set4) + len(set5)

True

#### Create an empty set called `set6`.

In [23]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [24]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 3, 4, 5, 8, 9, 10, 11, 12, 13, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 41, 43, 44, 46, 47, 48, 49, 50, 51, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 89, 90, 91, 92, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [25]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [26]:
# Your code here
set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [27]:
# Your code here
set3.issubset(set1)

True

In [ ]:
set8 = set3.union(set4, set5)

#### Using the `pop` method, remove the first element from `set1`.

In [28]:
# Your code here
set8 = set3.union(set4, set5)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [29]:
# Your code here
set9 = set1.union(set2)